.title {
  font-weight: 700;
  font-size: 24px;
  font-family: Montserrat;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 100px 100px 30px 100px;
}
